a {
    color:#666;
    text-decoration:none;
}
body {
    min-width: 540px;
    overflow-x: hidden;
    font-family:arial;
    font-size:13px;
    padding:30px 5px 45px 25px;
    padding:1px 3px;
    margin:0;
    /* https://stackoverflow.com/questions/47805286/in-a-chrome-extension-how-do-i-change-the-full-background-color-of-a-popup-wind */
}
img {
    margin: 0;
    vertical-align: middle;
}
a.selected {
    color:#000;
    cursor: default;
    text-decoration:none;
    background:#FFE68E !important;
    border-color:#FFE68E !important;
}
.hidden,
a.hidden,
div.hidden,
span.hidden {
    display: none;
}
.section_hidden {
    display: none;
}
.edit_mode .section_hidden {
    display: block;
}
.bestmaps td {
    padding-top:30px;
}

.providers img {
    height:26px;
    margin:0 auto 5px;
    display:block;
}
.coordLine {
    float:left;
}
.providers {
    margin-bottom:15px;
}


/* 
    всплывающий плюсик в режиме редактирования

.edit_mode .providers a.phidden:hover span {
    background:#77CD9C;
    width:19px;
    height:19px;
    border-radius:15px;
    position:absolute;
    top:-9px;
    right:-9px;
    font-size:17px;
    line-height:19px;
    color:white;
    font-weight:bold;
    text-align:center;
    display:block;
}*/
.providers a:hover {
    background:#f8f8f8b0;
    border-color:#cacaca;
    text-decoration:none;
}
.providers a {

}
.providers a {
    padding:6px 2px;
    border-radius:4px;
    border:1px solid #E0E0E0;
    background:#f8f8f8;
    border:1px solid #ececec;
    color:#555;
    display:inline-block;
    width:60px;
    text-align:center;

    box-sizing: border-box;
    margin:0 13px 17px 0;
    position:relative;
}
.compare_mode .no_comp {
    opacity:0.5;
    pointer-events: none;
    display:none;
}
.compare_mode .no_comp img {
    filter: grayscale(1);
}
.compare_mode .compare_item {
    padding:3px 0px !important;
    border:4px solid #219653 !important;
}
.compare_mode .compare_item span {
    width:22px !important;
    height:22px !important;
    border-radius:15px;
    position:absolute;
    top:-12px !important;
    right:-12px !important;
    display:block !important;
    font-size:0 !important;
    background: #219653 url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/img/ok.svg) no-repeat center center !important;
}

.compare_mode #providers_list a:hover span {
    background:#77CD9C;
    width:19px;
    height:19px;
    border-radius:15px;
    position:absolute;
    top:-9px;
    right:-9px;
    font-size:17px;
    line-height:19px;
    color:white;
    font-weight:bold;
    text-align:center;
    display:block;
}
.section_label {
    margin-bottom:10px;
}

.compare_mode #providers_list {
    width:320px;
    float:left;
}
.providers span {
    display:none;
}
.chbx {
    position:absolute;
    top:13px;
    left:-30px;
    display:none;
    width:16px;
    height:16px;
}
.edit_mode .chbx {
    display:block;
}
.edit_mode .providers a {
    display:block !important;
    margin-left:30px;
}
.edit_mode .phidden {
    display:inline-block !important;
    border-color:white !important;
    color:#888888;
    background:white;
}
.providers .phidden {
    display:none;
}
.compare_mode.compare_3 #providers_list a:not(.compare_item){
    pointer-events: none;
}
.compare_mode.compare_3 #providers_list a:not(.compare_item) img {
    filter: grayscale(1) ;
    opacity:0.4 ;
}
.providers .phidden img {
    filter: grayscale(1) !important;
    opacity:0.4 !important;
}
.edit_mode #providers_list img {
    filter: grayscale(0);
    opacity:1;
}
a.settings_save_btn {
    display:none;
}
.edit_mode .settings_save_btn {
    display:inline-block;
}
.edit_mode #compare_start_js {
    display:none;
}
.clear {
    clear:both;
}
.map_preview {
    width:50%;
    height:132px;
    display:none;
}
.map_preview span {
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height:107px;
    display:block;
    margin:4px 1px 0;

}

/* sat */
.preview_yandex span {background-image:url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/maps/sat_yandex.png);}
.preview_here span {background-image:url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/maps/sat_here.png);}
.preview_bing span {background-image:url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/maps/sat_bing.png);}
.preview_esri span {background-image:url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/maps/sat_esri.png);}
.preview_mapbox span {background-image:url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/maps/sat_mapbox.png);}

/* map */
.preview_yandex_map span {background-image:url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/maps/map_yandex.png);}
.preview_osm span {background-image:url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/maps/map_mapnik.png);}
.preview_gis2 span {background-image:url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/maps/map_2gis.png);}
.preview_wiki span {background-image:url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/maps/map_wiki.png);}
.preview_topo span {background-image:url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/maps/map_topo.png);}
.preview_sputnik span {background-image:url(chrome-extension://plagppklljkoeblkoknfpmljklplpdol/maps/map_sputnik.png);}

.compare_2 .compare_preview_link,
.compare_3 .compare_preview_link {
    pointer-events:auto;
}
.compare_preview_link:hover {
    background:#f8f8f8;
    color:black;
}
.compare_preview_link {
    float:left;
    padding:7px;
    border:1px solid #E0E0E0;
    border-radius:4px;
    text-align:center;
    margin-top:25px;
    width:160px;
    display: none;
    pointer-events:none;
}
.preview_active {
    display:block;
}
.map_preview_box {
    display:none;
}
.compare_2 .map_preview_box,
.compare_3 .map_preview_box {
    display:flex;
}


.compare_mode .compare_preview_link {
    display: inline-block;
}
.compare_2 .compare_btn_caption,
.compare_3 .compare_btn_caption
{
    display:block;
}
a:hover .compare_btn_caption {
    color:#4b4b4b;
}
.compare_btn_caption {
    display:none;
    font-size:20px;
    font-size: 20px;
    color: #888;
    margin-top: 6px;
}
.coord_inputP:hover {
    background:white;
    border-radius:4px;
}
.coord_inputP {
    position:relative;
    display:inline-block;
    margin:5px;
}
.coord_input:focus {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    outline:none;
    background:white;
}
.coord_input {
    padding:7px 11px;
    padding:3px 6px;
    border-radius:4px;
    border:1px solid #ccc;
    border:none;
    background:none;
    outline:none;
}
.coord_inputP:hover .copy_btn {
    opacity:1;
}
.copy_btn {
    height:14px;
    position:absolute;
    top:3px;
    right:6px;
    cursor:pointer;
    opacity:0.4;
    opacity:0;
}
.coord_label {
    padding-bottom:5px; 
    display:inline-block;
}
.copy_btn:active + input {
    background:#FFE68E;
}
#about:hover,
#edit:hover {
    opacity:0.8;
}
#about img {
    width:100%;
    display: block;
}
#zoom_status,
#earth_kml{
    float:right;
    margin-top:8px;
    margin-right:12px;
}
#about,
#edit {
    float:right;
    cursor:pointer;
    width:16px;
    opacity:0.4;
    /*position:absolute;*/
    /*top:8px;*/
    margin:8px 12px 0 0;
}
.compare_mode .compare_help {
    display:block;
    font-size:20px;
    height:110px;
    padding-top:51px;
    color:#8d8d8d;
    line-height:1.4em;
}
.compare_2 .compare_help,
.compare_3 .compare_help {
    display:none;
}
.settings_help,
.compare_help {
    display:none;
}
.edit_mode .settings_help {
    font-size:20px;
    color:#8d8d8d;
    display:block;
    background:#eee;
    padding:20px 30px;
    display:inline-block;
    border-radius:4px;
    margin-top:15px;
    margin-bottom:30px;
}
.provider_special_hidden {
    display:none !important;
}
a.provider_special {
    display:inline-block !important;
    margin-top:8px;
}
.coord_box {
    display:inline-block;
    margin:0 10px;
}
.coordinates_hidden .coordinates_el {
    display:none;
}

.link_with_icon:hover img {
   filter: none;

}
.link_with_icon:hover {
    text-decoration: underline;
}
.link_with_icon {
    display:inline-block;
    margin-right:10px;
}
.link_with_icon img {
    height:13px;
    margin-right:4px;
    margin-top:-2px;
    filter: grayscale(1);
    opacity:0.8;
}
.btn:hover {

}
.btn {
    background:#e2e2e2;
    padding:6px 10px;
    border-radius:4px;
    box-sizing: border-box;
    display:inline-block;
    line-height:20px;
    padding:4px 14px;
}
.btn_green:hover {
    background:#147e41;
}
.btn_green {
    background:#219653;
    color:white;
}

.btn img {
    margin-right:3px;
    height:15px;
}
.menu_item:hover {
    background:#ddd;
}
.btn span,
.menu_item span {
    vertical-align: middle;
}
.menu_item {
    display:inline-block;
    background:#f4f4f4;
    padding:6px 11px;
    border-radius:4px;
    margin-right:20px;
    line-height:1em;
    color:black;
}
.menu_active {
    background:#FFE68E !important;
}
.btn_light {
    background:none;
}
.compare_mode #compare_start_js {
    display:none;
}
.compare_2.compare_mode .compare_continue,
.compare_3.compare_mode .compare_continue {
    pointer-events: auto;
    background:#219653 !important;
}
.compare_mode .compare_continue{
    pointer-events:none;
    background:gray !important;
}
.compare_mode .compare_continue,
.compare_mode .compare_mode_cancel_btn {
    display:inline-block;
}
.compare_continue,
.compare_mode_cancel_btn {
    display:none;
}
body:not(.compare_mode) .providers_small a:hover div,
body:not(.compare_mode) .providers_small a:hover {
    text-decoration: underline;
    color:#2498ff;
}
body:not(.compare_mode) .providers_small a {
    border:none;
    background:none !important;
    width:88px;
    text-align:left;
    border-color:white;
    background:white;
    padding:0;
}
body:not(.compare_mode) .providers_small a img {
    height:14px;
    margin:auto;
    margin-right:5px;
    display:inline-block;
    position:relative;
    top:-1px;
}

body:not(.compare_mode) .providers_small a div {
    display:inline-block;
    margin-top:2px;
}

.coordinates_hidden .control_box {
    float:right;
    padding: 0 0 8px 12px;
}
.control_box {
    background:#eee;
    border-radius:2px;
}
#providers_list {
    margin-top:20px;
}
.buttonsP {
    margin-bottom:20px;
}
.buttonsP, #providers_list, .settings_help {
    margin-left:20px;
}